Repository nitrictech/cli, pull requests merged in 2022-08, with the labels that each got.

#295 feat: improve the build time by placing the build inline in pulumi
  .github/workflows/aws-e2e.yaml
  pkg/build/build.go
  pkg/build/build_test.go
  pkg/cmd/stack/root.go
  pkg/provider/pulumi/aws/aws.go
  pkg/provider/pulumi/azure/containerapp.go
  pkg/provider/pulumi/common/build.go
  pkg/provider/pulumi/common/build_test.go
  pkg/provider/pulumi/common/image.go
  pkg/provider/pulumi/gcp/gcp.go
  pkg/runtime/generate_test.go
  pkg/runtime/golang.go
  pkg/runtime/java.go
  pkg/runtime/javascript.go
  pkg/runtime/python.go
  pkg/runtime/types.go
  pkg/runtime/typescript.go
Labels: e2e-aws

#299 AWS: Re-enable autonaming for SNS topics.
  pkg/provider/pulumi/aws/aws.go
Labels: aws

#311 fix: only write the digest if it's available
  pkg/cmd/stack/root.go
Labels: bug
